<p id="notice"><%= notice %></p>

<h1>Movimentacaos</h1>

<table>
  <thead>
    <tr>
      <th>Produto</th>
      <th>Local armazenamento</th>
      <th>Tipo</th>
      <th>Data</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movimentacaos.each do |movimentacao| %>
      <tr>
        <td><%= movimentacao.produto %></td>
        <td><%= movimentacao.local_armazenamento %></td>
        <td><%= movimentacao.tipo %></td>
        <td><%= movimentacao.data %></td>
        <td><%= movimentacao.quantidade %></td>
        <td><%= link_to 'Show', movimentacao %></td>
        <td><%= link_to 'Edit', edit_movimentacao_path(movimentacao) %></td>
        <td><%= link_to 'Destroy', movimentacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movimentacao', new_movimentacao_path %>
